
<div class=side_top>
  <div class=side_name>
    <a href="#">Tom</a>
  </div>
  <div class=create_room>
    <a href="#">チャットを作成する</a>
  </div>
</div>
  <div class=side_bottom>
    <div class=chat_room>
       <div class=room_name>
          <a href="#">room1</a>
        </div>
    </div>
    <div class=chat_room>
      <div class=room_name>
       <a href="#">room2</a>
      </div>
    </div>
  </div>
